extends layout

block content

            
  .row.primary-content
    h1.text-xs-center #{title}
    div.logo
      img(src="images/guestbook-icon.png")
    p.text-xs-center
      a(href="/guestbook/addnote").form-toggler Add note 
    .row.guestlist-container.text-xs.center
      each guest, i in guestlist.reverse()
        .col-xs-12.col-md-5.col-lg-3
          p.guest-date= guest.date
          div.guest-info.text-xs-center
            a(href="/guestbook/note/#{guest._id}")
              img.guest-img(src="#{guest.avatar}")
              h3.guest-name= guest.username
          p.guest-message= guest.message
          if user.username === guest.username || user.nickname === guest.username
            a(href="/guestbook/note/remove/#{guest._id}")
              i.fa.fa-trash
                   
  
