extends layout

block content

    h1.text-xs-center #{title}
    .row.primary-content
      div.text-xs-right
        button.form-toggler Add guest
          i.fa.fa-plus
      .row.guestlist-container.text-xs.center
        each guest, i in guestlist
          .col-xs-12.col-md-6.col-lg-4
            p.guest-date= guest.date
            div.guest-info
              a(href="/guestbook/#{guest.username}")
                h3.guest-name= guest.username
            p.guest-message= guest.message
            a(href="/guestbook/#{guest._id}/delete/")
              i.fa.fa-trash
            img(src="#{guest.avatar}")


    .row
     div.form-wrapper
      h3.form-header Add Guest
      form#formAddUser(name="adduser", method="post", action="/guestbook")
          input#inputUserName(type="text", placeholder="Name", name="username")
          input#inputUserEmail(type="email", placeholder="Email", name="useremail")
          textarea#inputUserMessage(type="text", placeholder="Message", name="usermessage")
          button#btnSubmit(type="submit") Add Guest
